
body{

    color: #222624;
    font-family: 'Roboto Slab', serif;
    background: #a1ceae url('https://Mikek16.github.io/mountains.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.centering{
    padding-top: 40%;
}
a{
    color: beige;
    text-decoration: none;
    
}

button {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border: transparent;
    bottom: 15px;
    right: 15px;
}
.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}
.curve::before{
    content:'';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: aqua;
}
.curve::after{
    content:'';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: blue;
    z-index: -1;;
}